<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todos :: Login</title>
        <link rel="stylesheet" href="/styles/style.css"/>
    </head>

    <body>
        <main class="container">
            <div class="landing">
                <h1>A todo app like no other.</h1>
                <img src="https://illustrations.popsy.co/white/surreal-hourglass.svg" />
                    <p>Sign up now if you haven't already, or log in to your account.</p>
                    <div class="split">
                        <a href="/register"><button>Sign up</button></a>
                        <a href="/login"><button>Log in</button></a>
                    </div>
                </div>
            <footer>
                <p class="align-center">Crafted with &lt;3 by <a class="link" href="https://github.com/waterrmalann">Alan</a>.</p>
            </footer>
        </main>
    </body>
</html>