<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todos :: Login</title>
        <link rel="stylesheet" href="/styles/style.css"/>
    </head>

    <body>
        <main class="container">
            <div class="auth-card">
                <h1 class="align-center">Login</h1>
                <hr>
                <% if (locals.userJustRegisteredAnAccount) { %>
                    <p class="success-msg align-center">An account was registered successfully.</p>
                <% } %>
                <p class="align-center">Enter your username and password below to log in to your account.</p>
                <form id="loginForm" action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input name="email" type="email" placeholder="email address" id="email">
                        <span id="error-email" class="error-msg"></span>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input name="password" placeholder="password" id="password" type="password">
                        <span id="error-password" class="error-msg"></span>
                    </div>
                    <button type="submit" class="form-group">Log in</button>
                    <hr>
                    <% if (locals.errorMessage) { %>
                        <p class="server-error-msg align-center"><%= locals.errorCode || 500 %>: <%= locals.errorMessage %>.</p>
                    <% } %>
                </form>
            </div>
            <p class="footer-text align-center">Don't have an account? <a class="link" href="/register">Create one</a>.</p>
        </main>

        <script>
            const loginForm = document.getElementById('loginForm');
            loginForm.addEventListener('submit', (e) => {
                e.preventDefault();

                // Clear all existing error messages, if any.
                document.querySelectorAll('.error-msg').forEach(elem => elem.innerText = '');

                // Extract values from form fields.
                const email = e.target.email.value.trim();
                const password = e.target.password.value.trim();

                // Validate
                if (!password || password.length < 8) {
                    document.querySelector('#error-' + e.target.password.id).innerText = "password must be 8 characters.";
                    return;
                }

                if (!email || !(/^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email))) {
                    document.querySelector('#error-' + e.target.email.id).innerText = "invalid email";
                    return;
                }

                e.target.submit();
            })
        </script>
    </body>
</html>