:root {
	--shadow-clr: rgba(14, 14, 14);
	--shadow-error-clr: darkred;

	--border-clr: rgba(14, 14, 14, 0.25);
	--border-error-clr: darkred;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: monospace;
	line-height: 1.6;
	color: #212427;
}

input {
	font-family: inherit;
	font-size: 1rem;
}


label {
	font-family: monospace;
	font-size: 1rem;
}

input[type="email"], input[type="password"], input[type="text"] {
	width: 100%;
	display: block;
	padding: 0.75rem;
	border: 1px solid var(--border-clr);
	border-radius: 0.35rem;
	box-shadow: 2px 2px var(--shadow-clr);
}

a, a:visited, a:active {
	text-decoration: inherit;
	color: inherit;
}

.link {
	text-decoration: underline;
}

h1 {
	margin: 0;
}

hr {
	border: none;
	border-bottom: 1px solid var(--border-clr);
	margin-block: 1rem;
	margin-inline: auto;
	width: 50%;
}

button {
	display: block;
	padding: 0.5rem 2rem;
	border-radius: 0.35rem;
	font-size: 1rem;
	cursor: pointer;
	font-family: inherit;
	border: 1px solid var(--border-clr);
	background-color: transparent;
	box-shadow: 2px 2px var(--shadow-clr);
	transition: border-color ease-in-out 0.25s;
}

button:hover {
	border-color: var(--shadow-clr);
	transition: border-color ease-in-out 0.25s;
}

button:disabled {
	border: 1px solid var(--border-error-clr);
	box-shadow: 2px 2px var(--shadow-error-clr);
}

.container {
	width: min(80%, 70.5rem);
	margin-inline: auto;
}

.auth-card {
	margin-top: 10vh;
	border: 1px solid var(--border-clr);
	border-radius: 0.35rem;
	padding: 2rem;
	width: min(400px, 90%);
	margin-inline: auto;
	box-shadow: 4px 4px var(--shadow-clr);
	transition: ease-in-out 0.25s;
}

.auth-card:hover {
	box-shadow: 6px 6px var(--shadow-clr);
	transition: ease-in-out 0.25s;
}

.auth-card.failure {
	border-color: darkred;
	box-shadow: 4px 4px darkred;
}

.auth-card.failure:hover {
	box-shadow: 6px 6px darkred;
}

.footer-text {
	margin-block: 2rem;
}

.align-center {
	text-align: center;
}

.form-group {
	margin-block: 1rem;
}

.error-msg {
	display: block;
	margin-block: .5rem;
	color: darkred;
	font-size: 0.95rem;
}

.server-error-msg {
	color: darkred;
	font-size: 1rem;
	font-weight: bold;
	border: 1px solid red;
	border-radius: .35rem;
}

.success-msg {
	color: darkgreen;
	font-weight: bold;
}

.link:hover {
	font-weight: bold;
	text-decoration: none;
}

.landing {
	text-align: center;
	margin-block: 4rem;
	display: grid;
	place-items: center;
	place-content: center;
}

.landing img {
	display: block;
	max-width: 256px;
}

.split {
	display: flex;
	gap: 2rem;
}